.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(32, 13, 29, 0.6);
    backdrop-filter: blur(3px);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
}

.backdrop--hiden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px;
    height: auto;

    text-align: center;

    font-family: Montserrat;
    background-color: #FFF2FD;
    border-radius: 150px 0px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),;
}

.backdrop--hiden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

[data-close-modal]{
    position: absolute;
    top: 25px;
    right: 25px;
    border: none; 
    fill: #0E0E0E;   

    background-color: #FFF2FD;
}

.close-icon{
    width:17px;
    height:17px;

    fill:#0E0E0E;
}

[data-close-modal]:hover .close-icon{
    fill: #4C00FE;   
    cursor: pointer;
}

.thumb {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;

    border: none;
    border-radius: 50% ;
    width: 102px;
    height: 102px;
      
    overflow: hidden;
}

.modal-icon{
    display: block;
    max-width: 100%;
    height: auto;
}

.modal-img {
    display: none;
}

.modal-details{
    text-align: center;
}

.modal-item__header{
    margin-bottom: 5px;

    color: #DC56C5;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.modal-item__descr{
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 1.25;
}

.price {
    display: flex;
    justify-content: center;  
    margin-bottom: 10px;

    width: auto;
}

.price-descr {
margin-bottom: 0;
}


.barcode {
    margin-right: 13px;
    width: 24px;
    height: 16px;
}

.modal-btn {
    margin-bottom: 25px;
    width: 145px;
    height: 40px;

    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    background-color: #4C00FE;
    border: none;
    border-radius: 5px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #2196f3;
    outline: none;
    cursor: pointer;
}

.btn-more{
    padding: 10px 3px;
    width: auto;
    height: auto;

    color: #4C00FE;
    background-color: #FFF2FD;
    border: 1px solid #4C00FE;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.btn-more:hover,
.btn-more:focus {
    border: 1px solid #DC56C5;
    background-color: #FFF2FD;
}


/* breack point 320px */

@media screen and (min-width: 320px) {
    /* контейнер видалити перед пушом */
    .container {
        width: 320px;
        /* padding-left: 15px;
        padding-right: 15px; */
    }    
    
    .modal {
        width: 270px;
    }     
}


/* breack point 768px */

@media screen and (min-width: 768px) {
    
    /* контейнер видалити перед пушом */
    .container {
        width: 768px;        
        padding-left: 85px;
        padding-right: 85px;
    }
    
    .modal {
        width: 600px;
        padding-bottom: 56px;
        border-radius: 300px 0px;
    }   
    
    .thumb {
        margin-top: 28px;
        margin-bottom: 43px;

        width: 70px;
        height: 70px;
    }
    .modal-info{
        display: flex;
        margin-bottom: 18px;  
    }

    .modal-img-thumb{
        padding-left: 35px;
        padding-right: 15px;
        min-width: 280px;
    }

    .modal-img {
        display: block;
        width: 100%;
    }
    
    .modal-details{
        padding-left: 15px;
        padding-right: 15px;
        text-align: start;
    }   

    .price{
        justify-content: flex-start;
    } 

    .btn-more{
        padding: 10px 15px;
    }
}


/* breack point 768px */

@media screen and (min-width: 1280px) {
    /* контейнер видалити перед пушом */    
    .container {
        width: 1280px;        
        padding-left: 175px;
        padding-right: 175px;
    }
    
    .modal {
        width: 930px;
        padding-bottom: 60px;
        border-radius: 300px 0px;
    }
    
    [data-close-modal]{
        top: 30px;
        right: 30px;
    }
    
    .close-icon{
        width:25px;
        height:25px;
    }
    
    .thumb {
        margin-top: 62px;
        margin-bottom: 41px;

        width: 132px;
        height: 132px;
    }

    .modal-info{
        display: flex;
        margin-bottom: 18px;  
    }

    .modal-img-thumb{
        padding-left: 15px;
        padding-right: 30px;
        min-width: 405px;
    }
    
    .modal-details{
        text-align: start;
    }
    
    .modal-item__header{
        margin-bottom: 7px;
    
        color: #DC56C5;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.2;
    }
    
    .modal-item__descr{
        margin-bottom: 20px;
    
        font-size: 18px;
        line-height: 1.22;
    }
    
    .price {
        display: flex;
        justify-content: flex-start;  
        margin-bottom: 20px;
    
        width: auto;
    }
    
    .price-descr {
    margin-bottom: 0;
    }
    
    
    .barcode {
        margin-right: 13px;
        width: 29px;
        height: 19px;
    }
    
    .modal-btn {
        margin-bottom: 31px;
    }
    
    .btn-more{
        padding: 16px 10px;
    }       
}
